.idea
.project
.classpath
.settings
.buildpath
.pmd
.checkstyle
.DS_Store
target/
node_modules
npm-debug.log
bower_components
Gruntfile.generated.*.js
# following entries are used in the jenkins build process
diff-mail.txt
feature-branch.txt
jira-json.txt
lock.tmp
*.iml
*.ipr
*.iws
*~
localCodeCoverage.txt
.vscode
pnpm-lock.yaml
pnpm-debug.log
.factorypath
.pnpm-store
